<div class="flex flex-col justify-center items-center w-[90%] my-0 mx-auto gap-4">
  <h2 class="font-medium text-base m-0 sm:text-3xl sm:mb-2">Información de contacto</h2>
  <p class="text-center text-xs m-0 sm:text-base sm:mb-4">Contacta con nosotros para informarte sobre nuestros cursos y competiciones en:</p>
  <ul class="list-none p-0 m-0 flex flex-col gap-4 sm:flex-row sm:gap-16">
    <li class="text-xs m-0 sm:text-base sm:mb-4">Correo electrónico: <a class="link" href="mailto:calicanto@tenis.com">calicanto@tenis.com</a></li>
    <li class="text-xs m-0 sm:text-base sm:mb-4">Teléfono: <a class="link" href="tel:+34600000000">600 000 000</a></li>
  </ul>
</div>