<div class="m-0 mt-auto">
  <include src="./views/contactinfo.html"></include>
  <footer class="footer w-[90%] mt-6 mx-auto mb-0 text-base text-center flex flex-col gap-4 lg:gap-0 lg:flex-row justify-between items-center border-t border-link">
    <a class="link" href="/src/index.html">
      <img src="/src/assets/images/tennis.png" alt="Logo academia" width="75">
    </a>
    <nav>
      <ul class="list-none p-0 m-0 flex flex-col gap-4 sm:flex-row sm:gap-16">
        <li>
          <a class="link" href="/src/index.html">Inicio</a>
        </li>
        <li>
          <a class="link" href="/src/featured.html">Destacados</a>
        </li>
        <li>
          <a class="link" href="/src/bio.html">Sobre la liga</a>
        </li>
        <li>
          <a class="link" href="/src/contact.html">Contacto</a>
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="list-none p-0 m-0 flex gap-4 flex-row sm:gap-16">
        <li>
          <a class="link" href="#">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </li>
        <li>
          <a class="link" href="#">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </li>
        <li>
          <a class="link" href="#">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
      </ul>
    </nav>
  </footer>
</div>
