<header class="w-[90%] mt-0 mx-auto mb-6 text-center flex flex-col justify-between items-center border-b border-link relative z-10 gap-4 md:flex-row md:gap-0">
  <a class="link" href="/src/index.html">
    <img src="/src/assets/images/tennis.png" alt="Logo academia" width="75">
  </a>
  <nav>
    <ul class="list-none p-0 m-0 flex flex-col gap-4 sm:flex-row sm:gap-16">
      <li>
        <a class="link" href="/src/featured.html">Destacados</a>
      </li>
      <li>
        <a class="link" href="/src/bio.html">Sobre la liga</a>
      </li>
      <li>
        <a class="link" href="/src/contact.html">Contacto</a>
      </li>
    </ul>
  </nav>
</header>